body{
    height: 100vh;
    margin: 0;

}
header {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #ffc72e;
    justify-content: space-around;
    padding: 1vh;
    text-align: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;

}
.line-container {
    position: fixed;
    top: 12vh;
    left: 0;
    width: 100%;
    height: 80%;
    text-align: center;
    overflow: hidden;
}
section{
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: Garamond;
    font-size: 4em;
}

svg {
    display: inline-block;
    height: 100%;

}

.one{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 4.5vw;
    background: white;
    color: #7ae2ff

}
.one img{
    padding-right: 5vh;
    height: 80vh;
    width: 80vw;
    z-index: 1;

}
.one h3{
    padding-top: 8vh;
    padding-left: 5%;
}
.two{
    display: flex;
    background: white;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: flex-end;


}
.two h3{
    width: 40%;
    right: 0;
    text-align: right;
    padding-right: 5%;
    font-size: 6rem;
    z-index: 1;


}
.two p {
    position: absolute;
    z-index: 0;
    color: rgba(255, 199, 46, 0.6 );
    margin-top: 40vh;
    right: -2%;
    white-space: nowrap;
    font-size: 10vw;

}
#path1{
    position: absolute;
    width: 100vw;
    z-index: 0;
    margin-top: -50vh;
}